.cards {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin: 0.19rem;
  cursor: pointer;
  min-width: 200px;
  z-index: 0;
  border: 1px solid rgb(99, 99, 99);
}

.cards:hover {
  transform: scale(1.2);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.112) 0px -12px 30px;
}

.card_img {
  height: 300px;
}

.card_overlay {
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  bottom: 0px;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 0;
  transition: opacity 0.2s;
}

.card_overlay:hover {
  opacity: 1;
}

.card_title {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.card_runtime {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.card_rating {
  float: right;
}

.card_description {
  font-style: italic;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}
